* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Kumbh Sans", sans-serif;
  font-weight: 400;
}
/* --------------------------------------
           MOBILE INTERGRATION
-------------------------------------- */
body {
  height: 100vh;
  width: 375px;
}
/* ---- HEADER ---- */

header {
  height: 75px;
  width: 375px;

  display: flex;
  align-items: center;
  justify-content: space-around;
}

header div {
  display: flex;
  justify-content: space-between;
}
.headerIcons {
  margin-right: 18px;

  transform: translateY(4px);
}
#imgAvatar {
  height: 24px;
  width: 24px;
}
.burger {
  height: 0;
  width: 0;

  background: white;

  z-index: 3;

  position: absolute;

  overflow: hidden;
}
.open {
  height: 100vh;
  width: 200px;
}

.company {
  color: hsl(26, 100%, 55%);
  margin: 15px 0px 10px 0px;
}

article {
  margin: 0% 5% 0% 5%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}

footer div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

article section footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

figure {
  background-image: url("../images/image-product-1.jpg");
  background-size: cover;
  width: 100%;
  height: 300px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.previous {
  margin-left: 5%;
}

.next {
  margin-right: 5%;
}

article section h2 {
  margin-bottom: 15px;
  font-family: "Kumbh Sans", sans-serif;
  font-weight: 700;
}

.description {
  margin-bottom: 20px;
}

.reducedPrice {
  font-family: "Kumbh Sans", sans-serif;
  font-weight: 700;
}

.reduction {
  background-color: hsl(25, 100%, 94%);
  color: hsl(26, 100%, 55%);
  border-radius: 16px;
  padding: 4px;
}

.originalPrice {
  margin-left: 50%;
}
